* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 50%;
    width: 200px;
    margin-top: 50px;
  }

body {
    text-align: center;
    background-image: linear-gradient(120deg, #0a396e, #7dbcda);
    color: white;
    font-family: "Bitter", serif;
    min-height: 100vh;
}


h1 {
    font-size: 100px;
}

button {
    background-color: #0a396e; /* Green */
    /* border: 1px solid white; */
    box-shadow: #021d3b;
    color: white;
    padding: 10px 10px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-flex;
    font-size: 16px;
}

/* form button {
    color: #e2c35d;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
} */

form input {
    padding: 0.5em;
    border: none;
    background: white;
}

button:hover {
    opacity: 80%;
}

/* #submit-guess {
    width: 10px;
} */

#how-to-play {
    border: solid white;
    text-align: left;
    justify-content: center;
    width: 20%;
    margin: auto;
    padding: 10px;
    fill: white;
    background: rgba(0, 0, 0, 0.1);
}

#how-to-play span {
    display: flex;
    text-align: left;
}

.guess-col {
    font-size: 20px;
    justify-content: left;
}

#result-div {
    justify-content: center;
    display: flex;

}

#label-guess-col {
    width: 20%;
    float: left;
    padding: 10px;
    border: 2px solid white;
}

#label-result-col {
    width: 20%;
    float: right;
    padding: 10px;
    border: 2px solid white;
}

.guesses-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:solid red; */
}

.guesses-list {
    min-width: 40%;
    list-style:none;
    display:table-column;
}
.guess-hint {
    color:black;
    font-size: 1.5 rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
    transition:all 0.5 ease;
    border: solid white;
}


li {
    text-align: center;
    width:50%;
    color: white;
}