* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

img {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 50%;
    width: 200px;
    margin-top: 50px;
}

body {
    text-align: center;
    background-image: linear-gradient(120deg, #0a396e, #7dbcda);
    color: white;
    font-family: "Bitter", serif;
    min-height: 100vh;
}


h1 {
    font-size: 100px;
}

h5,h6 {
    text-align: left;
}
button {
    background-color: #0a396e; /* Green */
    box-shadow: #021d3b;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-flex;
    font-size: 16px;
    &:hover{
        opacity: 80%;
    }
}



form {
    padding:5px;
    input {
    padding: 0.5em;
    border: none;
    background: white;
    }
}


.how-to-play-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

#how-to-play {
    width: 40%;
    margin: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    span {
        display: flex;
        text-align: left;
    }
}

.chances-box {
    padding-bottom: 10px;
}

.guess-col {
    font-size: 20px;
    justify-content: left;
}

#result-div {
    justify-content: center;
    display: flex;
}

#label-guess-col, #label-result-col, #label-attempt-col {
    width: 20%;
    padding: 15px;
    border: 3px solid white;
    font-weight: bold;

}


.guesses-container {
    display: flex;
    justify-content: center;
}

.guesses-list {
    min-width: 60%;
    list-style:none;
    display:table-column;
 

}
.guess-hint {
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 3px solid white;
    padding:10px;
}

li {
    text-align: center;
    width:50%;
    color: white;
}

.difficulty-form {
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    input {
        color: red;
        margin: 0 10px 0 10px; 
    }
}

.timer-container {
    padding:10px ;
}

#instructions-difficulty, #instructions-hint {
    li {
        text-align: left;
        list-style:none;
        margin-left: 15px;
    }
}